<nav class="navbar navbar-default navbar-fixed-top" id = "my-nav">
    <div class="container" id = "nav-con">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="link-cursor" id = "land-link"><i class="fa fa-road"><div id = "lilgreen"></div></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id = "nav-list">
                <!-- <li class="hidden">
                    <a href="#page-top"></a>
                </li> -->
                <li>
                    <a class= "link-cursor" id = "photo-link">Photos</a>
                </li>
                <li>
                    <a class= "link-cursor" id = "how-link">About</a>
                </li>
                <li>
                    <a class= "link-cursor" id="team-link">Team</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id = "landing">
<div class = "container center-block" id = "landing-con">
  <h1 class = "text-center pay dk-grey" id = "logo"><span class = "">W</span><i class="fa fa-road" id = "road"><div id = "green"></div></i>ndr</h1>
  <h3 class="text-muted text-center rediscover">Rediscover your city.</h3>



    <div class = "center-block gly-div">
        <span class = "btn btn-default gly" id = "click"><span class = "pay">WANDR  </span><i class="fa fa-road" id = "lilroad"><div id = "white-div"></div></i></span>
    </div>
    <div class = "center-block">
      <span class = "center-block lime button" id = "learn"><span class="link-cursor">[ Learn More ]</span></span>
    </div>
</div>
</section>

<!-- LOADING -->
<section id= "loading">
  <div id="load">
    <div>g</div>
    <div>n</div>
    <div>i</div>
    <div>r</div>
    <div>e</div>
    <div>d</div>
    <div>n</div>
    <div>a</div>
    <div>w</div>
  </div>
</section>

<!--ENTER YOUR ADDRESS-->
<section id= "address-section">
  <div class = "container" id = "add-con-1">
    <div class = "center-block" id = "wtf"><span class="fa fa-map-marker"></span></div>
    <div class = "center-block"><h4 class = "text-center" id = "enter-ad">Wandr requires geolocation</h4></div>
    <p class = "text-center dk-grey"> Enable geolocation and refresh the page or fill out the address form below.</p>
  </div>
  <div class = "center-block" id = "add-con">
  <%= form_tag "/address", id: "address_submit" do %> <!-- form_tag because not working off a model-->
    <br>
    <div class="field">             <!-- sessions_path will trigger create action in sessions controller-->
      <%= text_field_tag :address, params[:address], placeholder: "221 B Baker St, London, England" %>
    </div>
    <div class="actions"><%= submit_tag "Submit" %></div>
  <% end %>
</div>
</div>
</section>

<!-- HOW TO USE -->
<section id="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading dk-grey">How It Works</h2>
                <p class="text-muted tag2">Wandr takes the research out of planning an outing, so you can focus on what inspires you.</p>
                <!-- <h3 class="section-subheading text-muted">Wandr takes the guesswork and the research out of planning an outing.</h3> -->
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary lime"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading dk-grey">Browse</h4>
                <p class="text-muted">Swipe through real photos of activities and entertainment in your area.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary lime"></i>
                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading dk-grey">Learn More</h4>
                <p class="text-muted">Choose a photo that interests you, and click to learn more about where it was taken.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary lime"></i>
                    <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading dk-grey">Go</h4>
                <p class="text-muted">Once you've picked a destination, Wandr will tell you how to get there.</p>
            </div>
        </div>
    </div>
</section>

<!-- ABOUT THE TEAM -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted lilycate">Lily and Cate are students at the Ada Developers Academy in Seattle, Washington. Wandr is our capstone project. Hope you enjoy it!</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <%= image_tag("lily2.jpg", class: "img-responsive img-circle phot") %>
                    <h4>Lily Pace</h4>
                    <p class="text-muted">Design / Front-end Development</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/lilyfromseattle"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://github.com/lilyfromseattle"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/lily-pace/40/331/b14"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                  <%= image_tag("cate5.jpg", class: "img-responsive img-circle phot") %>
                    <h4>Cate Uselton</h4>
                    <p class="text-muted">Back-end Development</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/catusel"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://github.com/catstavi"><i class="fa fa-github"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/pub/cate-uselton/61/5bb/62a"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BROWSE PHOTOS -->
<section id = "photo-slides">
<div class = "container" id = "photo-con">
    <div class = "row">
      <div class = "col-sm-1" id = "left">
        <div id = "left-g-d" class = "">
          <span class="fa fa-chevron-left link-cursor" aria-hidden="true" id = "left-g"></span>
        </div>
    </div>

    <div id = "middle" class = "col-sm-10">
        <div id = "all" class = "center-block">

        </div>
    </div>

    <div class = "col-sm-1" id = "right">
      <div  id = "right-g-d" class = "">
        <span class="fa fa-chevron-right link-cursor" aria-hidden="true" id = "right-g"></span>
      </div>
  </div>
  </div>
</div>
<!-- <section id = "show"> -->
  <div class = "container" id = "show-con">
    <div id = "details">
    </div>
  </div>
<!-- </section> -->
</section>
<!-- SORRY BRO -->
<section id="sorry">
  <p> Sorry dude, there's nothing worth checking out around there. </p>
<section>
